p{
                color: darkmagenta;
                font-size: 15px;
                font-family: serif;
}
/*h4{
text-transform: uppercase;
}*/
/*to apply to one class*/
.uc{
text-transform: uppercase;
}
.cursive{
    font-family: cursive;
}
a:hover{
    color: indianred;
    /* we can define color as name,rgb,rgba,hsl,hsla,hexadecimal */
}
