p{
                color: darkmagenta;
                font-size: 15px;
                font-family: serif;
}
/*h4{
text-transform: uppercase;
}*/
/*to apply it to one class*/
.uc{
text-transform: uppercase;
}
.cursive{
    font-family: cursive;
}
a:hover{
    color: indianred;
    /* we can define color as name,rgb,rgba,hsl,hsla,hexadecimal */
    /*border-width: 2px 4px;*/
    /*2px for top and bottom and 4px for left and right*/
    /*border-width: 2px 3px 4px;*/
    /*2px for top 3px for right and left 4px for bottom*/
    border-width: 2px 3px 4px 5px;
    border-style: dotted;
    border-color: gold;
    /*border:  4px solid red*/
    /*ese bhi karr sakte hain in short*/
    border-radius: 4px;
    /*for rounded border*/
    /*can also declare single borders*/
    /*border-left: 2px solid skyblue;*/
}
/*#borderr{
    border-top:5px dotted #ff6060;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-right:5px dotted #ff6060;
    border-bottom:5px dotted #ff6060;;
}*/



/*#site-title a{
    text-decoration:none;
    line-height:1.25;
}
#blog-header{
    text-size:3.2rem;
}
#blog-content{
    text-size:1.1rem;
    word-spacing:1px;
    line-height:1.4;
}
.sources:hover{
    text-decoration:none;
    color:#000000;
}
*/
/*
div{
    background-image: url("");
}*/


/*margin*/
/*margin:4px
margin:4px 3px;
margin:4px 3px 2px 1px;*/
/*margin:auto; to place at center*/
/*margin-bottom: ese bhi you can do*/

/*in margin you can use -ve values but 
in padding no -ve values are allowed*/

/*padding
padding: 4px;
*/

/*positions*/
/*position: static,absolute,relative,fixed,sticky;* /

/*box-sizing: border-box  to select if border will take more space or not*/



/*overflow: auto,scroll,visible,hidden*/
