.logo{
position: absolute;
width: 113px;
height: 57px;
left: 0px;
top: -6px;
}
#nothead{
position: absolute;
width: 209px;
height: 42px;
left: 260px;
top: -16px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
}
.setting{
position: absolute;
width: 38px;
height: 36px;
left: 628px;
top: 6px;
}
#appbox{
position: absolute;
width: 630px;
height: 312px;
left: 19px;
top: 58px;

background: #1D3557;
border-radius: 25px;
}
.notification1{
position: absolute;
width: 580px;
height: 38px;
left: 22px;
top: 26px;

background: #A8DADC;
border-radius: 22px;
}
.notification2{
position: absolute;
width: 580px;
height: 38px;
left: 22px;
top: 88px;

background: #A8DADC;
border-radius: 22px;
}
.nottext{
position: absolute;
width: 196px;
height: 19px;
left: 14px;
/* top: 96px; */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}
.nottime{
position: absolute;
width: 22px;
height: 19px;
left: 521px;
/* top: 96px; */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}
.dots{
position: absolute;
width: 20px;
height: 20px;
left: 552px;
top: 10px;
}